body{  
    background: rgb(184, 159, 207);
    font: normal 15pt arial;
}
header{
    text-align: center;
}
section{
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.527);
    padding: 15px;
    width: 500px;
    margin: auto;
    background: burlywood;
    border-radius: 10px;

}
footer{
    text-align: center;
}