body{
    background-color: black;
    color: white;
    text-indent: 10px;
}
h2{
    text-shadow: 1px 1px 1px white;
    font-size: 24pt;
    text-indent: 70px;
}
div#res{
    background: rgb(106, 108, 248);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.452);
    width: 300px;
    padding: 30px;
    
}
input{
    width: 60px;
}

