body{
    background: black;
    font: normal 15pt arial;
    text-align: center;
}

section{
    background:black;
    color:white;
    width: 300px;
    font: normal 12pt arial;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 4px 4px 10px black;
    margin: auto;
}
div#calc{
    width: 100px;
    height: 35px;
    margin: auto;
    background: crimson;
    border-radius: 4px;
}
