body{
    background: white;
    font: normal 15pt arial;
    text-align: center;
}

section{
    background: rgba(255, 0, 98, 0.438);
    width: 400px;
    height: 200px;
    font: normal 12pt arial;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 4px 4px 10px black;
    margin: auto;
}
div#desafio{
    width: 60px;
    height: 30px;
    background: black;
    margin: auto;
    border-radius: 80px;
}

p{
   margin: 40px 3px 30px 10px;
}