body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p#n1{
    background: aquamarine;
    padding: 5px 10px;
    width: 350px;
    border-radius: 10px;
}
p#n2{
    background: rgb(142, 245, 142);
    padding: 5px 10px;
    width: 350px;
    border-radius: 10px;
}
div#res{
    background: rgb(213, 216, 238);
    padding: 30px;
    width: 200px;
    border-radius: 5px;
}