body{
    background: black;
    font: normal 15pt arial;
    text-align: center;
    color: white;
}

section{
    background: white;
    color: black;
    width: 300px;
    font: normal 12pt arial;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 4px 4px 10px black;
    margin: auto;
    padding: 30px;
    
}
div#desafio{
    width: 100px;
    background: rgb(158, 151, 151);
    padding: 1px;
    margin: auto;
    border-radius: 10px;
}