body{
    background: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
    text-align: left;
    text-indent: 50px;
}
input{
    width: 100px;
}
p#nome{
    background: violet;
    border-radius: 5px;
    box-shadow: 4px 4px 10px black;
    width: 450px;
    border: 10px solid violet;
}
p#vel{
    background: turquoise;
    border-radius: 5px;
    box-shadow: 4px 4px 10px black;
    width: 450px;
    border: 10px solid turquoise;
}
div#res{
    background: lightcoral;
    border-radius: 5px;
    box-shadow: 4px 4px 10px black;
    width: 470px;
    height: 150px;
}